{% extends 'A2CUserBundle::layout.html.twig' %}
{% block body %}
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">{{ 'Sign in to start your session'|trans }}</p>
        {% trans_default_domain 'FOSUserBundle' %}

        {% block fos_user_content %}
            {% if error %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        {% endblock %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group has-feedback">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" class="form-control"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'Remember Me'|trans }}
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'Sign In'|trans }}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!-- /.social-auth-links -->

        <a href="{{ path('fos_user_resetting_request') }}">{{ ' forgot my password'|trans }}</a><br>

    </div>
    <!-- /.login-box-body -->
{% endblock %}