<?php

namespace {{ namespace }}\Form\Handler;

{% block use_statements %}
use A2C\Bundle\CoreBundle\Form\Handler\FormHandler;
{% endblock use_statements %}

{% block class_definition %}
class {{ form_class }} extends FormHandler
{% endblock class_definition %}
{
{% block class_body %}

{% endblock class_body %}
}