{# A2LIX Translate #}
{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <li {% if app.request.locale == locale %}class="active"{% endif %}>
                    <a href="#tab_{{ loop.index }}" data-toggle="tab" data-target=".{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }}" aria-expanded="true">
                        {{ a2c_locale_convert_name(locale) }}
                        {% if form.vars.default_locale == locale %}[Default]{% endif %}
                        {% if translationsFields.vars.required %}*{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <!--<div class="{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}">-->
                <div class="tab-pane {{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }} {% if app.request.locale == locale %}active{% endif %}" id="tab_{{ loop.index }}">
                    {{ form_errors(translationsFields) }}
                    {{ form_widget(translationsFields) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}