{% block extends %}
    {{ "{% extends 'A2CCoreBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
        <section class="content-header">
            <h1>
                {{ "{{ '"~ entity ~"'|trans }}" }}
                <small>{{ "{{ 'Edit'|trans }}" }}</small>
            </h1>
            {{ "{{ a2c_breadcrumbs_render() }}" }}
        </section>

        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <section class="row">
                        <div class="col-lg-4">
                            <div class="btn-group">
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    {{ "{{ 'List'|trans }}" }}
                                </a>
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    {{ "{{ 'New'|trans }}" }}
                                </a>
                                <button type="button" class="btn btn-danger" title="" data-target="#modalDelete" data-toggle="modal">
                                    <span class="glyphicon glyphicon-remove"></span> {{ "{{ 'Remove'|trans }}" }}
                                </button>
                                {{  "{% embed 'A2CCoreBundle:partial:modalDelete.html.twig' with {
                                        form: delete_form,
                                        route: '" ~ route_name_prefix ~ "_delete',
                                        id: entity."~ identifier ~"
                                    } %} " }}
                                {{  "{% endembed %}" }}
                            </div>
                        </div>
                    </section>
                    {{ "{% include 'A2CCoreBundle:partial:message.html.twig' %}" }}
                </div>
                {{ "{{ form_start(form, {action : path('" ~ route_name_prefix ~ "_update',{ id: entity."~ identifier ~"}) }) }}" }}
                   <input name="_method" value="PUT" type="hidden"/>
                    <div class="box-body">
                        {{ '{{ form_widget(form) }}' }}
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> {{ "{{ 'Submit'|trans }}" }}</button>
                    </div>
                {{ "{{ form_end(form) }}" }}
            </div>
        </section>

{{ "{% endblock %}" }}
{% endblock body %}
