{% block extends %}
{{ "{% extends 'A2CCoreBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}


    <section class="content-header">
        <h1>
            {{ "{{ '"~ entity ~"'|trans }}" }}
            <small>{{ "{{ 'List'|trans }}" }}</small>
        </h1>
        {{ "{{ a2c_breadcrumbs_render() }}" }}
    </section>

    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <section class="row">
                    <div class="col-lg-4">
                        <div class="btn-group">
                            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                                {{ "{{ 'New'|trans }}" }}
                            </a>
                            <a href="#modalSearch" class="btn btn-default" data-toggle="modal">
                                <span class="glyphicon glyphicon-search"></span>
                                {{ "{{ 'Search'|trans }}" }}
                            </a>
                            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_export') }}" }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-download-alt"></span>
                                {{ "{{ 'Export'|trans }}" }}
                            </a>
                        </div>
                    </div>
                </section>
                {{ "{% include 'A2CCoreBundle:partial:message.html.twig' %}" }}
            </div>
            <div class="box-body">
                <div class="table-responsive">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                            {%- for field, metadata in fields %}

                                <th{{ "{% if pagination.isSorted('" ~ field ~ "') %}" }} class="sorted"{{ "{% endif %}" }}>{{ "{{ knp_pagination_sortable(pagination, '" ~ field|capitalize ~ "', '" ~ field ~ "', {'title' : 'Order By'|trans" ~ " ~ ' ' ~ '" ~ field|capitalize ~ "'}) }}" }}</th>

                            {%- endfor %}

                                <th>{{ "{{ 'Actions'|trans }}" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ '{% if pagination.getTotalItemCount > 0 %}' }}
                                {{ '{% for entity in pagination %}' }}
                                    <tr>
                                {%- for field, metadata in fields %}
                                    {%- if loop.first and ('show' in actions) %}

                                        <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                                    {%- elseif metadata.type in ['date', 'datetime'] %}

                                        {%- if metadata.type == 'datetime' %}

                                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ "|localizeddate('medium','medium',app.request.locale) }}{% endif %}" }}</td>

                                        {%- else %}

                                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ "|localizeddate('medium','none',app.request.locale) }}{% endif %}" }}</td>

                                        {%- endif %}
                                    {%- elseif metadata.type in ['boolean'] %}

                                        <td>{{ "{{ entity." ~ field|replace({'_': ''})  ~ " ? 'Yes'|trans : 'No'|trans " ~" }}" }}</td>

                                    {%- else %}

                                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                                    {%- endif %}

                                    {%- if loop.last %}

                                        <td>

                                                    {%- include "crud/views/others/actions.html.twig.twig" %}

                                        </td>

                                    {%- endif %}
                                {%- endfor %}

                                    </tr>
                                {{ '{% endfor %}' }}
                            {{ '{% else %}' }}
                                <tr>
                                    <td colspan="{{ (fields|length)+1 }}" class="no-record-found">{{ "{{ 'No records found'|trans }}" }}</td>
                                </tr>
                            {{ '{% endif %}' }}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">
                <div class="pull-right">
                    {{ '{{ knp_pagination_render(pagination) }}' }}
                </div>
            </div>
        </div>
    </section>

    {{ "{% include 'A2CCoreBundle:partial:modalSearch.html.twig' with {
        'form' : form_search,
        'route' : '" ~ route_name_prefix ~ "_search'
    } only %}" }}
{{ "{% endblock body -%}" }}
{% endblock body %}
