    /**
{% block phpdoc_method_header %}
     * Deletes a {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_delete")
     * @Security("has_role('ROLE_ADMIN')")
     * @Method("DELETE")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function deleteAction(Request $request, $id)
{% endblock method_definition %}
    {
{% block method_body %}

        $handler = new {{ entity }}FormHandler(
            $this->createDeleteForm(),
            $request,
            $this->get('doctrine')->getManager(),
            $this->get('session')->getFlashBag()
        );

{% endblock method_body %}

{% block method_return %}
        $entity = $this->getDoctrine()->getRepository('{{ bundle }}:{{ entity }}')->find($id);

        if ($handler->delete($entity)) {
            return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
        } else {
            return $this->redirect($this->generateUrl('{{ route_name_prefix }}_show', array('id' => $id)));
        }
{% endblock method_return %}
    }

{% block form %}
{% endblock form %}
