
    /**
{% block phpdoc_method_header %}
     * Displays a form to create a new {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Method("GET")
     * @Security("has_role('ROLE_ADMIN')")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function newAction()
{% endblock method_definition %}
    {
{% block method_body %}
        $breadcumbs = $this->container->get('a2c_breadcrumbs');

        $breadcumbs->addItem(array(
            'title' => '{{ entity }}',
            'route' => '{{ route_name_prefix }}',
        ));

        $breadcumbs->addItem(array(
            'title' => 'New',
            'route' => '',
        ));

        $form = $this->createForm(new {{ entity }}FormType(), new {{ entity }}());
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            'form'   => $form->createView(),
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:new.html.twig', array(
            'form'   => $form->createView(),
        ));
{% endif %}
{% endblock method_return %}
    }
