    /**
{% block phpdoc_method_header %}
     * Edits an existing {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_update")
     * @Method("PUT")
     * @Security("has_role('ROLE_ADMIN')")
     * @Template("{{ bundle }}:Backend/{{ entity }}:edit.html.twig")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function updateAction(Request $request, $id)
{% endblock method_definition %}
    {
{% block method_body %}
        $breadcumbs = $this->container->get('a2c_breadcrumbs');

        $breadcumbs->addItem(array(
            'title' => '{{ entity }}',
            'route' => '{{ route_name_prefix }}',
        ));

        $breadcumbs->addItem(array(
            'title' => 'Edit',
            'route' => '',
        ));

        $entity = $this->getDoctrine()->getRepository('{{ bundle }}:{{ entity }}')->find($id);

        if (!$entity) {

            $this->get('session')->getFlashBag()->add('message', array(
                'type' => 'error',
                'message' => 'Registry not Found',
            ));

            return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
        }

        $form = $this->createForm(new {{ entity_class }}FormType(), $entity);
        $deleteForm = $this->createDeleteForm($id);

        $handler = new {{ entity }}FormHandler(
            $form,
            $request,
            $this->getDoctrine()->getManager(),
            $this->get('session')->getFlashBag()
        );

        if ($id = $handler->save()) {
            return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
        }
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            'entity'      => $entity,
            'form'        => $form->createView(),
            'delete_form' => $deleteForm->createView(),
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:edit.html.twig', array(
            'entity'      => $entity,
            'form'        => $form->createView(),
            'delete_form' => $deleteForm->createView(),
        ));
{% endif %}
{% endblock method_return %}
    }
