{% if app.session.flashbag.has('message') %}
    <div class="row message-margin-top">
        <div class="col-lg-12">
            {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="alert alert-{% if flashMessage.type == 'error' %}danger{% else %}{{ flashMessage.type }}{% endif %} fade in alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-{% if flashMessage.type == 'error' %}ban{% else %}check{% endif %}"></i> {% if flashMessage.type == 'error' %}{{ 'Error' | trans }}{% else %}{{ 'Success'|trans }}{% endif %}!</h4>
                {{ flashMessage.message | trans }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}