{% extends 'A2CCoreBundle::layout.html.twig' %}

{% block body -%}
        <section class="content-header">
            <h1>
                {{ 'Language'|trans }}
                <small>{{ 'Details'|trans }}</small>
            </h1>
            {{ a2c_breadcrumbs_render() }}
        </section>

        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <section class="row">
                        <div class="col-lg-4">
                            <div class="btn-group">
                                <a href="{{ path('admin_language') }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    {{ 'List'|trans }}
                                </a>
                                <a href="{{ path('admin_language_new') }}" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    {{ 'New'|trans }}
                                </a>
                                <a href="{{ path('admin_language_edit',{id: entity.id}) }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    {{ 'Edit'|trans }}
                                </a>
                                <button type="button" class="btn btn-danger" title="" data-target="#modalDelete" data-toggle="modal">
                                    <span class="glyphicon glyphicon-remove"></span> {{ 'Remove'|trans }}
                                </button>
                                {% embed 'A2CCoreBundle:partial:modalDelete.html.twig' with {
                                    form: delete_form,
                                    route: 'admin_language_delete',
                                    id: entity.id
                                } %}
                                {% endembed %}
                            </div>
                        </div>
                    </section>
                    {% include 'A2CCoreBundle:partial:message.html.twig' %}
                </div>
                <div class="box-body">
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>{{ 'Id'|trans }}</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Name'|trans }}</th>
                                    <td>{{ entity.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Acron'|trans }}</th>
                                    <td>{{ entity.acron }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Locale'|trans }}</th>
                                    <td>{{ entity.locale }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Image'|trans }}</th>
                                    <td>
                                        {% if entity.image is not empty %}
                                            <img src="{{ entity.image|imagine_filter("language_imagem") }}" alt="">
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'Orderby'|trans }}</th>
                                    <td>{{ entity.orderBy }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Created at'|trans }}</th>
                                    <td>{% if entity.createdAt %}{{ entity.createdAt|localizeddate('medium','medium',app.request.locale) }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Updated at'|trans }}</th>
                                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|localizeddate('medium','medium',app.request.locale) }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Published'|trans }}</th>
                                    <td>{{ entity.published ? 'Yes'|trans : 'No'|trans  }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
