<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8">
        
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        
        <title>{{ app_title_default }} {% block title %}{% endblock %}</title>
        
        <link rel="shortcut icon" href="images/favicon.ico" />

        {% block stylesheets %}
            <!-- Bootstrap 3.3.4 -->
            <link rel="stylesheet" href="{{ asset("vendor/admin-lte/bootstrap/css/bootstrap.min.css") }}">
            <link rel="stylesheet" href="{{ asset("vendor/admin-lte/plugins/datepicker/datepicker3.css") }}">
            <link rel="stylesheet" href="{{ asset("vendor/admin-lte/plugins/colorpicker/bootstrap-colorpicker.min.css") }}">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- ICheck -->
            <link rel="stylesheet" href="{{ asset("vendor/admin-lte/plugins/iCheck/all.css") }}">
            <link rel="stylesheet" href="{{ asset("vendor/admin-lte/plugins/iCheck/square/blue.css") }}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset("vendor/admin-lte/dist/css/AdminLTE.min.css") }}">
            <!-- Icon Flags -->
            <link rel="stylesheet" href="{{ asset("vendor/flag-icon-css/css/flag-icon.min.css") }}">
            <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
            <link rel="stylesheet" href="{{ asset("vendor/admin-lte/dist/css/skins/_all-skins.min.css") }}">

            <!-- Admin Custom layout -->
            <link rel="stylesheet" href="{{ asset("bundles/a2ccore/css/admin/style.css") }}" />

        {% endblock stylesheets %}

        {% block javascripts_top %}
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock javascripts_top %}
    </head>
    
    <body class="skin-blue fixed">
        
        <!-- Site wrapper -->
        <div class="wrapper">

            {% include '@A2CCore/partial/header.html.twig' %}

            <!-- =============================================== -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">Menu</li>
                        {{ a2c_menu_full_render() }}
                    </ul>
                </section>
            </aside>

            <!-- =============================================== -->

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {%- block body -%}{%- endblock -%}
            </div><!-- /.content-wrapper -->

            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Versão</b> 1.0
                </div>
                <strong><a href="{{ footer_link }}">{{ footer_description }}</a></strong>
            </footer>

        </div><!-- ./wrapper -->
        
        {% block javascripts %}
            <!--[if gte IE 9]><!-->
            <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
            <!--<![endif]-->
            <!--[if lt IE 9]>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <![endif]-->

            <script src="{{ asset("vendor/admin-lte/bootstrap/js/bootstrap.min.js") }}"></script>
            <script src="{{ asset("vendor/admin-lte/plugins/datepicker/bootstrap-datepicker.js") }}"></script>
            <script src="{{ asset("vendor/admin-lte/dist/js/app.min.js") }}"></script>
            <script src="{{ asset("vendor/admin-lte/plugins/slimScroll/jquery.slimscroll.min.js") }}"></script>
            <script src="{{ asset("vendor/admin-lte/plugins/colorpicker/bootstrap-colorpicker.min.js") }}"></script>
            <script src="{{ asset("vendor/admin-lte/plugins/iCheck/icheck.min.js") }}"></script>
            <script>
                jQuery(document).ready(function($){
                    $('.icheck').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue'
                    });
                });
            </script>

        {% endblock %}
    </body>
</html>