{% extends 'A2CCoreBundle::layout.html.twig' %}

{% block body -%}


    <section class="content-header">
        <h1>
            {{ 'User'|trans }}
            <small>{{ 'List'|trans }}</small>
        </h1>
        {{ a2c_breadcrumbs_render() }}
    </section>

    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <section class="row">
                    <div class="col-lg-4">
                        <div class="btn-group">
                            <a href="#modalSearch" class="btn btn-default" data-toggle="modal">
                                <span class="glyphicon glyphicon-search"></span>
                                {{ 'Search'|trans }}
                            </a>
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                                {{ 'New'|trans }}
                            </a>
                        </div>
                    </div>
                </section>
                {% include 'A2CCoreBundle:partial:message.html.twig' %}
            </div>
            <div class="box-body">
                <div class="table-responsive">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th{% if pagination.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id'|trans , 'id', {'title' : 'Order By'|trans ~ ' ' ~ 'Id'|trans}) }}</th>
                                <th{% if pagination.isSorted('username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Username'|trans, 'username', {'title' : 'Order By'|trans ~ ' ' ~ 'Username'|trans}) }}</th>
                                <th{% if pagination.isSorted('email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'email', {'title' : 'Order By'|trans ~ ' ' ~ 'Email'|trans}) }}</th>
                                <th{% if pagination.isSorted('enabled') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Enabled'|trans , 'enabled', {'title' : 'Order By'|trans ~ ' ' ~ 'Enabled'|trans}) }}</th>
                                <th>{{ 'Actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if pagination.getTotalItemCount > 0 %}
                                {% for entity in pagination %}
                                    <tr>
                                        <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                        <td>{{ entity.username }}</td>
                                        <td>{{ entity.email }}</td>
                                        <td>{{ entity.enabled ? 'Yes' : 'No'}}</td>
                                        <td>
                                            <a href="{{ path('admin_user_show', { 'id': entity.id }) }}" class="btn btn-sm btn-default" data-original-title="{{ 'Show'|trans }}">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                             <button type="button" class="btn btn-sm btn-danger" title="" data-target="#modalDelete{{ entity.id }}" data-toggle="modal" data-original-title="{{ 'Remove'|trans }}">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            {% embed 'A2CCoreBundle:partial:modalDelete.html.twig' with {
                                                form: form_delete,
                                                route: 'admin_user_delete',
                                                id: entity.id
                                            } %}
                                            {% endembed %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6" class="no-record-found">{{ 'No records found'|trans }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">
                <div class="pull-right">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </section>

    {% include 'A2CCoreBundle:partial:modalSearch.html.twig' with {
        'form' : form_search,
        'route' : 'admin_user_search'
    } only %}
{% endblock body -%}
